# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store
# Production
build
dist

# Misc
.DS_Store
**/.env
**/.env.*
**/*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# NX
.nx/
tmp/
.temp
**/coverage/
**/.nyc_output/
.nxignore

# Scripts
scripts/_temp
