// Import Calson Antique font family
@font-face {
  font-family: 'CaslonAntique';
  src: url('~/assets/fonts/caslon-antique/CaslonAntique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaslonAntique';
  src: url('~/assets/fonts/caslon-antique/CaslonAntique-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaslonAntique';
  src: url('~/assets/fonts/caslon-antique/CaslonAntique-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CaslonAntique';
  src: url('~/assets/fonts/caslon-antique/CaslonAntique-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html,
body {
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;

    h1 {
      font-family: "CaslonAntique", 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.01562em;
    }
}


